<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <a href="/persons">All Persons</a>
    <h1>Person Details</h1>

    <section>
        <p>Person Id: <%=personFound._id%> </p>
        <p>Name: <%=personFound.name%></p>
        <p>Email: <%=personFound.email%></p>
        <p>Mobile No: <%=personFound.contact %></p>
        <p>Address: <%=personFound.address %></p>
        <p>Checked In: <%=personFound.inTime %></p>
        <% if (personFound.outTime) { %>
        <p>Checked Out: <%=personFound.outTime%> </p>
        <p>InStatus: false</p>
        <% } else { %>
        <p>InStatus: true</p>
        <% } %> 
        <p>Date: <%=personFound.dateAndDay%></p>
    </section>

</body>
</html>